# Tesla Deliveries Dataset Completeness & Consistency Analysis

This section analyzes the completeness and consistency of the Tesla deliveries dataset, focusing on missing regions, months, vehicle models, gaps in COâ‚‚ or battery metrics, and inconsistent price data across markets.

In [2]:
# Import required libraries
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('../data/raw/tesla_deliveries_dataset_2015_2025.csv')
df.head()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722

In [3]:
# Check for missing values and unique values in key columns
missing_summary = df.isnull().sum()
unique_summary = {col: df[col].nunique() for col in ['Region', 'Month', 'Model', 'Year']}

print('Missing values per column:')
print(missing_summary)
print('\nUnique values in key columns:')
print(unique_summary)
df.describe(include='all')

Missing values per column:
Year                    0
Month                   0
Region                  0
Model                   0
Estimated_Deliveries    0
Production_Units        0
Avg_Price_USD           0
Battery_Capacity_kWh    0
Range_km                0
CO2_Saved_tons          0
Source_Type             0
Charging_Stations       0
dtype: int64

Unique values in key columns:
{'Region': 4, 'Month': 12, 'Model': 5, 'Year': 11}

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
count,2640.000000,2640.000000,2640,2640,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640,2640.000000
unique,NaN,NaN,4,5,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
top,NaN,NaN,Europe,Model S,NaN,NaN,NaN,NaN,NaN,NaN,Interpolated (Month),NaN
freq,NaN,NaN,660,528,NaN,NaN,NaN,NaN,NaN,NaN,884,NaN
mean,2020.000000,6.500000,NaN,NaN,9922.199621,10655.847348,84907.340330,87.059470,500.257576,744.076989,NaN,8932.133712
std,3.162877,3.452707,NaN,NaN,3935.950093,4260.600858,20123.258036,20.836265,120.868549,353.221224,NaN,3469.565883
min,2015.000000,1.000000,NaN,NaN,48.000000,50.000000,50003.700000,60.000000,330.000000,3.070000,NaN,3002.000000
25%,2017.000000,3.750000,NaN,NaN,7292.000000,7828.250000,67726.365000,75.000000,418.000000,499.620000,NaN,5897.750000
50%,2020.000000,6.500000,NaN,NaN,9857.000000,10546.500000,85058.510000,82.000000,470.000000,699.515000,NaN,8901.500000
75%,2023.000000,9.250000,NaN,NaN,12510.250000,13469.000000,102373.042500,100.000000,586.250000,943.765000,NaN,11938.000000
max,2025.000000,12.000000,NaN,NaN,25704.000000,28939.000000,119965.360000,120.000000,719.000000,2548.550000,NaN,14996.000000

In [4]:
# Check for missing months, regions, models, and years
from itertools import product

all_years = np.arange(df['Year'].min(), df['Year'].max() + 1)
all_months = np.arange(1, 13)
all_regions = df['Region'].unique()
all_models = df['Model'].unique()

full_index = pd.DataFrame(list(product(all_years, all_months, all_regions, all_models)), columns=['Year', 'Month', 'Region', 'Model'])
merged = pd.merge(full_index, df, on=['Year', 'Month', 'Region', 'Model'], how='left', indicator=True)
missing_combinations = merged[merged['_merge'] == 'left_only']

print(f"Missing (Year, Month, Region, Model) combinations: {len(missing_combinations)}")
missing_combinations.head()

Missing (Year, Month, Region, Model) combinations: 0

Empty DataFrame
Columns: [Year, Month, Region, Model, Estimated_Deliveries, Production_Units, Avg_Price_USD, Battery_Capacity_kWh, Range_km, CO2_Saved_tons, Source_Type, Charging_Stations, _merge]
Index: []

In [5]:
# Check for gaps in CO2 or battery metrics
missing_co2 = df[df['CO2_Saved_tons'].isnull()]
missing_battery = df[df['Battery_Capacity_kWh'].isnull()]

print(f"Rows with missing CO2_Saved_tons: {len(missing_co2)}")
print(f"Rows with missing Battery_Capacity_kWh: {len(missing_battery)}")

# Show a few examples if any
missing_co2.head(), missing_battery.head()

Rows with missing CO2_Saved_tons: 0
Rows with missing Battery_Capacity_kWh: 0

(Empty DataFrame
 Columns: [Year, Month, Region, Model, Estimated_Deliveries, Production_Units, Avg_Price_USD, Battery_Capacity_kWh, Range_km, CO2_Saved_tons, Source_Type, Charging_Stations]
 Index: [],
 Empty DataFrame
 Columns: [Year, Month, Region, Model, Estimated_Deliveries, Production_Units, Avg_Price_USD, Battery_Capacity_kWh, Range_km, CO2_Saved_tons, Source_Type, Charging_Stations]
 Index: [])

In [6]:
# Check for inconsistent price data across markets
# For each (Year, Month, Model), compare Avg_Price_USD across regions
price_std = df.groupby(['Year', 'Month', 'Model'])['Avg_Price_USD'].std().reset_index()
price_std = price_std.rename(columns={'Avg_Price_USD': 'Price_STD'})

# Flag high standard deviation (e.g., > $20,000)
high_std = price_std[price_std['Price_STD'] > 20000]
print(f"Number of (Year, Month, Model) groups with high price std: {len(high_std)}")
high_std.head()

Number of (Year, Month, Model) groups with high price std: 305

    Year  Month       Model     Price_STD
0   2015      1  Cybertruck  26523.852516
3   2015      1     Model X  23716.260042
6   2015      2     Model 3  27346.517562
10  2015      3  Cybertruck  24294.652300
14  2015      3     Model Y  21272.830588

In [8]:
# Check for typos or inconsistent naming in 'Model' and 'Region'
print('Unique Models:', df['Model'].unique())
print('Unique Regions:', df['Region'].unique())

# Check for duplicates (all columns)
duplicates = df[df.duplicated()]
print(f"Number of fully duplicated rows: {len(duplicates)}")
duplicates.head()

# Check for outliers in numeric columns using z-score
from scipy.stats import zscore

numeric_cols = ['Estimated_Deliveries', 'Production_Units', 'Avg_Price_USD', 'Battery_Capacity_kWh', 'Range_km', 'CO2_Saved_tons', 'Charging_Stations']
z_scores = np.abs(df[numeric_cols].apply(zscore))
outlier_mask = (z_scores > 3).any(axis=1)
outliers = df[outlier_mask]
print(f"Number of outlier rows: {outliers.shape[0]}")
outliers.head()

Unique Models: ['Model S' 'Model X' 'Model 3' 'Model Y' 'Cybertruck']
Unique Regions: ['Europe' 'Asia' 'North America' 'Middle East']
Number of fully duplicated rows: 0
Number of outlier rows: 24
Number of outlier rows: 24

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
86,2020,10,Middle East,Cybertruck,18392,19806,68744.20,120,687,1895.30,Interpolated (Month),8649
117,2022,11,Middle East,Model Y,21296,23581,57673.97,60,352,1124.43,Estimated (Region),4630
206,2022,10,Europe,Model 3,20841,23735,95174.19,60,342,1069.14,Official (Quarter),14164
281,2015,3,Asia,Model 3,25410,28802,73659.66,60,341,1299.72,Official (Quarter),4127

## Possible Explanations for Outliers

Outliers in the Tesla deliveries dataset may arise due to several reasons:

- **Data Entry Errors:** Manual input mistakes, such as misplaced decimal points or swapped digits.
- **Reporting Differences:** Variations in how regions or sources report deliveries, production, or metrics.
- **Special Events:** Unusual spikes or drops due to launches, recalls, or market disruptions.
- **Market-Specific Factors:** Unique incentives, taxes, or pricing strategies in certain regions.
- **Model Updates:** Introduction of new vehicle models or major upgrades affecting metrics.
- **Interpolation/Estimation:** Rows marked as 'Interpolated' or 'Estimated' may have less reliable values.
- **Currency Fluctuations:** Price outliers may result from exchange rate changes if not normalized.
- **Genuine Business Outliers:** Exceptional sales, production, or environmental impact in specific periods.

Reviewing the context and source type for each outlier can help clarify the cause. Further investigation may be needed for rows with extreme values.